<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.2015" version="12.0.2.2403" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms.v12" version="12.0.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
  <package id="VSSDK.CoreUtility" version="10.0.4" targetFramework="net45" />
  <package id="VSSDK.CoreUtility.10" version="10.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE.10" version="10.0.4" targetFramework="net45" />
  <package id="VSSDK.Text" version="10.0.4" targetFramework="net45" />
  <package id="VSSDK.Text.10" version="10.0.4" targetFramework="net45" />
</packages>